
.Rproj.user/89DFAFF7/console06/INDEX001
.RData
.Rhistory
*.pper
.Rproj.user/89DFAFF7/saved_source_markers
.Rproj.user/89DFAFF7/rmd-outputs
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/8AF83641/sources/s-A240CB97/lock_file
.Rproj.user/8AF83641/sources/s-A240CB97/DF003300-contents
.Rproj.user/8AF83641/sources/s-A240CB97/DF003300
.Rproj.user/8AF83641/sources/s-A240CB97/D2B5F893-contents
.Rproj.user/8AF83641/sources/s-A240CB97/CFBDA106-contents
.Rproj.user/8AF83641/sources/s-A240CB97/CFBDA106
.Rproj.user/8AF83641/sources/s-A240CB97/CDD2E982-contents
.Rproj.user/8AF83641/sources/s-A240CB97/C9517076-contents
.Rproj.user/8AF83641/sources/s-A240CB97/C41B55E6-contents
.Rproj.user/8AF83641/sources/s-A240CB97/A0720DFC-contents
.Rproj.user/8AF83641/sources/s-A240CB97/96CAEB41-contents
.Rproj.user/8AF83641/sources/s-A240CB97/8A7A8E85-contents
.Rproj.user/8AF83641/sources/s-A240CB97/8279D2EF-contents
.Rproj.user/8AF83641/sources/s-A240CB97/7DCDCDA0-contents
.Rproj.user/8AF83641/sources/s-A240CB97/7DCDCDA0
.Rproj.user/8AF83641/sources/s-A240CB97/796E182D-contents
.Rproj.user/8AF83641/sources/s-A240CB97/7709A7AD-contents
.Rproj.user/8AF83641/sources/s-A240CB97/75961BD2-contents
.Rproj.user/8AF83641/sources/s-A240CB97/6E888AC7-contents
.Rproj.user/8AF83641/sources/s-A240CB97/6E888AC7
.Rproj.user/8AF83641/sources/s-A240CB97/6E40FC73-contents
.Rproj.user/8AF83641/sources/s-A240CB97/6CD9F4D4-contents
.Rproj.user/8AF83641/sources/s-A240CB97/6CD9F4D4
.Rproj.user/8AF83641/sources/s-A240CB97/650F098D-contents
.Rproj.user/8AF83641/sources/s-A240CB97/50BA6676-contents
.Rproj.user/8AF83641/sources/s-A240CB97/4BCF3A8F-contents
.Rproj.user/8AF83641/sources/s-A240CB97/474CBD8B-contents
.Rproj.user/8AF83641/sources/s-A240CB97/35790BDB-contents
.Rproj.user/8AF83641/sources/s-A240CB97/2939AE37-contents
.Rproj.user/8AF83641/sources/s-A240CB97/237AF2BE-contents
.Rproj.user/8AF83641/sources/s-A240CB97/237AF2BE
.Rproj.user/8AF83641/sources/s-A240CB97/2215CFC9-contents
.Rproj.user/8AF83641/sources/s-A240CB97/212D7432-contents
.Rproj.user/8AF83641/sources/s-A240CB97/1C4FF245-contents
.Rproj.user/8AF83641/sources/s-A240CB97/1A704D2A-contents
.Rproj.user/8AF83641/sources/s-A240CB97/07EFC732-contents
.Rproj.user/8AF83641/sources/s-A240CB97/07EFC732
.Rproj.user/8AF83641/sources/prop/INDEX
.Rproj.user/8AF83641/sources/prop/7E70C607
.Rproj.user/8AF83641/sources/prop/4954683D
.Rproj.user/8AF83641/sources/prop/457B5EA1
.Rproj.user/8AF83641/sources/prop/1929663F
.Rproj.user/8AF83641/saved_source_markers
.Rproj.user/8AF83641/rmd-outputs
.Rproj.user/8AF83641/persistent-state
.Rproj.user/89DFAFF7/sources/prop/INDEX
.Rproj.user/89DFAFF7/sources/prop/B3C6B660
.Rproj.user/89DFAFF7/sources/prop/6BB560A8
*.xlsx
.Rproj.user
